<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Política de Privacidad")}</%block>
        </h1>
<p>
FUNDACIÓN EN PROMOCIÓN DE LA FAMILIA Y LA LIBERTAD A.C.,  razón social de CENTRO INTERNACIONAL DE ESTUDIOS SOBRE LIBERTAD Y RELIGIÓN, con domicilio en calle Privada de los Industriales 111 int. 102 y 102b, Colonia Jurica, CP. 76100, Querétaro, Qro., país México, y portal de internet www.cielre.org, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
</p></br> <p>
¿Para qué fines utilizaremos sus datos personales?
</p></br>
De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
<p>
Envío de información relacionada al tema
</p></br><p> 
En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:
</p></br><p>
No consiento que mis datos personales se utilicen para los siguientes fines:
</p></br><p>
-Envío de información relacionada al tema
</p></br><p>
La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.
</p></br><p>
¿Qué datos personales utilizaremos para estos fines?
</p></br><p>
Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
</p></br>
-Datos de identificación
</p></br><p>
-Datos de contacto
</p></br><p>
Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial protección:
</p></br><p>
-Religión que profesa
</p></br><p>
¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
</p></br><p>
Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso).
</p></br><p>
Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
</p></br><p>
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio: contacto@conciencianacional.org
</p></br><p>
Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición la
</p></br><p>
siguiente dirección de contacto:
</p></br><p>
Privada de los Industriales 111 int 102, Jurica, Querétaro Querétaro C.P. 76100.
</p></br><p>
Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:
</p></br><p>
<ul>
	<li>
		a) Nombre de la persona o departamento de datos personales: Silvia Gómez Osorio
	</li>
	<li>
		b) Domicilio: Privada de los Industriales 111 int 102, Jurica, Querétaro Querétaro C.P. 76100 Querétaro, Qro.
	</li>
	<li>
		c) Correo electrónico: contacto@cielre.org
	</li>
	<li>
	d) Números telefónicos: (442) 241 94 13 al 15
	</li>
</ul>
</p></br>

    </section>
</main>
