<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>


<html>
<head>
   <!-- HTML meta refresh URL redirection -->
   <meta http-equiv="refresh" content="0; url=https://apps.uiaedu.online/authn/login">
</head>
<body>
   <p>The page has moved to:
   <a href="https://apps.uiaedu.online/authn/login">this page</a></p>
</body>
</html>

