/* line 2, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
.register-button,
.login-button,
.wiki-wrapper section.wiki .settings-form .btn,
.course-view .page-header-secondary .form-actions .btn,
.instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"],
.dashboard .main-container .my-courses .course .details .enter-course,
.wrapper-action-more button.action-more,
.btn-link.all-topics,
.wiki-wrapper section.wiki .btn,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
  transition: all 0.2s ease;
  display: inline-block;
  background: #d6251d !important;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 40px !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border: 3px solid #d6251d !important;
  text-transform: uppercase !important;
  cursor: pointer;
  font-size: 15px !important; }
  /* line 34, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
  .register-button:active, .register-button:focus,
  .login-button:active,
  .login-button:focus,
  .wiki-wrapper section.wiki .settings-form .btn:active,
  .wiki-wrapper section.wiki .settings-form .btn:focus,
  .course-view .page-header-secondary .form-actions .btn:active,
  .course-view .page-header-secondary .form-actions .btn:focus,
  .instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"]:active,
  .instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"]:focus,
  .dashboard .main-container .my-courses .course .details .enter-course:active,
  .dashboard .main-container .my-courses .course .details .enter-course:focus,
  .wrapper-action-more button.action-more:active,
  .wrapper-action-more button.action-more:focus,
  .btn-link.all-topics:active,
  .btn-link.all-topics:focus,
  .wiki-wrapper section.wiki .btn:active,
  .wiki-wrapper section.wiki .btn:focus,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:active,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:focus {
    color: #d6251d !important;
    background: #fff !important; }
  /* line 39, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
  .register-button:focus:hover, .register-button:hover,
  .login-button:focus:hover,
  .login-button:hover,
  .wiki-wrapper section.wiki .settings-form .btn:focus:hover,
  .wiki-wrapper section.wiki .settings-form .btn:hover,
  .course-view .page-header-secondary .form-actions .btn:focus:hover,
  .course-view .page-header-secondary .form-actions .btn:hover,
  .instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"]:focus:hover,
  .instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"]:hover,
  .dashboard .main-container .my-courses .course .details .enter-course:focus:hover,
  .dashboard .main-container .my-courses .course .details .enter-course:hover,
  .wrapper-action-more button.action-more:focus:hover,
  .wrapper-action-more button.action-more:hover,
  .btn-link.all-topics:focus:hover,
  .btn-link.all-topics:hover,
  .wiki-wrapper section.wiki .btn:focus:hover,
  .wiki-wrapper section.wiki .btn:hover,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus:hover,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:focus:hover,
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover {
    color: #d6251d !important;
    background: #fff !important; }

/* line 46, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
.wrapper-messages-primary .message.message-upsell .action-upgrade {
  border-radius: 40px; }

/* line 51, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
#expand-collapse-outline-all-button,
.new-post-btn,
section.discussion .search-button,
.course-info .container .wrap-instructor-info .instructor-info-action {
  border: 3px solid #d6251d !important;
  border-radius: 40px !important;
  color: #fff !important;
  background: #d6251d !important;
  line-height: 1.1;
  text-transform: uppercase !important;
  cursor: pointer;
  font-size: 15px !important;
  text-decoration: none !important; }
  /* line 64, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
  #expand-collapse-outline-all-button:active, #expand-collapse-outline-all-button:focus, #expand-collapse-outline-all-button:focus:hover, #expand-collapse-outline-all-button:hover,
  .new-post-btn:active,
  .new-post-btn:focus,
  .new-post-btn:focus:hover,
  .new-post-btn:hover,
  section.discussion .search-button:active,
  section.discussion .search-button:focus,
  section.discussion .search-button:focus:hover,
  section.discussion .search-button:hover,
  .course-info .container .wrap-instructor-info .instructor-info-action:active,
  .course-info .container .wrap-instructor-info .instructor-info-action:focus,
  .course-info .container .wrap-instructor-info .instructor-info-action:focus:hover,
  .course-info .container .wrap-instructor-info .instructor-info-action:hover {
    background: #fff !important;
    border: 3px solid #d6251d !important;
    color: #d6251d !important; }

/* line 74, /openedx/themes/apt2025/lms/static/sass/blocks/_buttons.scss */
.btn {
  font-weight: normal !important;
  font-size: 15px !important; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
.global-header {
  box-shadow: none !important;
  padding: 0;
  border-bottom: none;
  position: relative;
  overflow: visible;
  background: #eee; }
  /* line 8, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: auto; }
    @media screen and (max-width: 991px) {
      /* line 8, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header {
        display: block;
        text-align: center; } }
    /* line 18, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .main-header .header-logo {
      display: block;
      margin: 0;
      flex-grow: 0; }
      @media screen and (max-width: 991px) {
        /* line 18, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .header-logo {
          display: inline-block; } }
      /* line 25, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header .header-logo a {
        margin: 0; }
        /* line 27, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .header-logo a .logo {
          display: block;
          margin: 0 !important; }
      /* line 32, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header .header-logo .course-header {
        margin-top: 0;
        color: #898989; }
    /* line 37, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .main-header .nav-links {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px !important; }
      /* line 43, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header .nav-links .main {
        margin: 0 0 0 20px; }
        /* line 45, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .main .nav-item {
          margin-left: 30px; }
          /* line 47, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          .global-header .main-header .nav-links .main .nav-item a {
            color: #898989; }
      /* line 52, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header .nav-links .secondary {
        margin: 0; }
        /* line 54, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .secondary .nav-item {
          padding: 0;
          margin: 0 0 0 10px;
          font-size: 16px !important; }
          /* line 58, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          .global-header .main-header .nav-links .secondary .nav-item a {
            color: #898989; }
          /* line 61, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          .global-header .main-header .nav-links .secondary .nav-item .fa {
            color: #898989; }
        /* line 65, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .secondary .nav-item-dropdown {
          position: relative; }
        /* line 68, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .secondary .username {
          margin-left: 10px; }
        /* line 71, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .secondary .user-image-frame {
          margin: 0 5px;
          border-radius: 50%;
          border: 2px solid #d6251d; }
        /* line 76, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .secondary .dropdown-user-menu {
          right: 0; }
  /* line 82, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .dropdown-user-menu {
    background: #e6eaed !important;
    border: 5px solid #fff !important;
    width: 200px; }
    /* line 86, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .dropdown-user-menu a {
      color: #28507d !important; }
      /* line 88, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .dropdown-user-menu a:hover {
        background: #bfdff7;
        color: #d6251d !important; }
  /* line 94, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .main .nav-item a {
    padding: 0 !important;
    border: none !important;
    position: relative;
    color: #898989 !important; }
    /* line 99, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .main .nav-item a:before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -5px;
      background: #d6251d;
      transition: all 0.2s ease; }
    /* line 109, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .main .nav-item a.active:before, .global-header .main .nav-item a:hover:before {
      width: 100%; }
  /* line 114, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .help-link {
    color: #898989 !important; }
  /* line 117, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .hamburger-menu {
    top: 30px; }
    /* line 119, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .hamburger-menu .line {
      background: #000; }
  /* line 124, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .btn {
    transition: all 0.2s ease;
    display: inline-block;
    background: #d6251d !important;
    color: #fff !important;
    border: 3px solid #d6251d !important;
    text-transform: uppercase;
    border-radius: 40px !important; }
    /* line 132, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .btn:active, .global-header .btn:focus {
      background: #d6251d !important; }
    /* line 136, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .btn:focus:hover {
      color: #d6251d !important;
      background: #fff !important;
      border: 3px solid #d6251d !important; }
    /* line 141, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .btn:hover {
      color: #d6251d !important;
      background: #fff !important;
      border: 3px solid #d6251d !important; }

/* line 150, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
.mobile-menu {
  margin: 0;
  border-top: 1px solid #234264; }
  /* line 153, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .mobile-menu .mobile-nav-link a {
    background: none !important;
    color: #000 !important;
    border-bottom: 1px solid #234264 !important;
    font-size: 16px; }
    /* line 158, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .mobile-menu .mobile-nav-link a:focus:hover, .mobile-menu .mobile-nav-link a:hover {
      background: none !important; }

/* line 166, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
.global-header .main-header .nav-links .main .nav-item {
  position: relative; }
  /* line 169, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .main-header .nav-links .main .nav-item:hover ul {
    display: block; }
  /* line 173, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .global-header .main-header .nav-links .main .nav-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e6eaed;
    border: 5px solid #fff;
    position: absolute;
    left: 0;
    top: 24px;
    width: 300px;
    z-index: 100;
    display: none; }
    /* line 185, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    .global-header .main-header .nav-links .main .nav-item ul li {
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase; }
      /* line 189, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      .global-header .main-header .nav-links .main .nav-item ul li a {
        color: #28507d !important;
        text-decoration: none;
        display: block;
        padding: 10px 15px !important;
        margin: 0 !important; }
        /* line 195, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .main .nav-item ul li a:before {
          display: none !important; }
        /* line 198, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        .global-header .main-header .nav-links .main .nav-item ul li a:hover {
          background: #bfdff7;
          color: #d6251d !important; }

/* line 209, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
section.home > header {
  min-height: 450px;
  background: url("../images/background.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  /* line 218, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  section.home > header .outer-wrapper {
    width: 100%;
    padding: 15px; }
    /* line 221, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
    section.home > header .outer-wrapper .title {
      background: none;
      box-shadow: none;
      float: none;
      margin: 0;
      padding: 0;
      width: 100%;
      transition: none !important; }
      /* line 229, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      section.home > header .outer-wrapper .title .heading-group {
        text-align: center; }
        /* line 231, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        section.home > header .outer-wrapper .title .heading-group h1 {
          font-size: 32px;
          line-height: 1.2;
          color: #fff;
          font-weight: bold;
          text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
          margin-bottom: 30px;
          text-transform: uppercase;
          text-align: center !important; }
          @media screen and (min-width: 760px) {
            /* line 231, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
            section.home > header .outer-wrapper .title .heading-group h1 {
              font-size: 52px; } }
        /* line 244, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        section.home > header .outer-wrapper .title .heading-group span {
          display: block;
          text-align: center;
          font-size: 34px;
          line-height: 1.3;
          text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
          color: #fff;
          margin-bottom: 40px; }
          @media screen and (max-width: 760px) {
            /* line 244, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
            section.home > header .outer-wrapper .title .heading-group span {
              font-size: 24px; } }
        /* line 256, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        section.home > header .outer-wrapper .title .heading-group .link {
          background: transparent;
          border: 3px solid #fff;
          color: #fff;
          padding: 10px 20px;
          display: inline-block; }
          /* line 262, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          section.home > header .outer-wrapper .title .heading-group .link:hover {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            text-decoration: none; }
      /* line 269, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
      section.home > header .outer-wrapper .title .course-search {
        max-width: 590px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding: 15px 0; }
        /* line 275, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        section.home > header .outer-wrapper .title .course-search .search-input {
          background: rgba(255, 255, 255, 0.6);
          border: 2px solid #fff;
          color: #4b4b4b;
          padding-left: 20px !important;
          height: 55px;
          border-radius: 40px; }
          /* line 282, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          section.home > header .outer-wrapper .title .course-search .search-input:focus {
            border-color: #fff !important; }
          /* line 285, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          section.home > header .outer-wrapper .title .course-search .search-input::placeholder {
            color: #4b4b4b;
            opacity: 1; }
          /* line 289, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
          section.home > header .outer-wrapper .title .course-search .search-input:-ms-input-placeholder {
            color: #4b4b4b; }
        /* line 293, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
        section.home > header .outer-wrapper .title .course-search .search-button {
          background: none !important;
          color: #95b2d6;
          border-left: none !important;
          right: 0;
          height: 55px;
          border: none !important; }

/* line 308, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
.wrapper-preview-menu {
  background: #c8c8c8; }
  /* line 310, /openedx/themes/apt2025/lms/static/sass/blocks/_header.scss */
  .wrapper-preview-menu label {
    color: #3c3c3c !important; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
.wrapper-footer {
  padding: 50px 0 !important;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 0 !important;
  box-shadow: none !important; }
  @media screen and (min-width: 1200px) {
    /* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; } }
  @media screen and (max-width: 991px) {
    /* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer {
      padding: 30px 0 10px; } }
  /* line 17, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer footer#footer-openedx {
    width: 100%;
    max-width: 1200px !important;
    padding: 0 15px; }
    /* line 21, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer footer#footer-openedx a {
      border: none !important; }
    /* line 24, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer footer#footer-openedx .colophon {
      float: none;
      width: 100%;
      text-align: center; }
      /* line 28, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer footer#footer-openedx .colophon .nav-colophon {
        text-align: center;
        margin: 0 0 30px; }
        /* line 31, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
        .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol {
          margin: 0;
          padding: 0; }
          /* line 34, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
          .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol li {
            float: none;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            margin: 0 10px; }
            @media screen and (max-width: 567px) {
              /* line 34, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
              .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol li {
                display: block;
                margin: 5px 0; } }
            /* line 44, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
            .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol li a {
              color: #fff; }
              /* line 46, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
              .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol li a:focus, .wrapper-footer footer#footer-openedx .colophon .nav-colophon ol li a:hover {
                border: none !important;
                color: rgba(255, 255, 255, 0.8); }
  /* line 57, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    /* line 62, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-flex > * {
      width: 33.3333%; }
      @media screen and (max-width: 991px) {
        /* line 62, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
        .wrapper-footer .footer-flex > * {
          width: 100%; } }
  /* line 69, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .icon-list {
    width: auto !important; }
    @media screen and (max-width: 991px) {
      /* line 69, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer .icon-list {
        width: 100% !important;
        order: 1; } }
  /* line 76, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .footer-support {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0 !important;
    color: #fff; }
    @media screen and (max-width: 1050px) {
      /* line 76, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer .footer-support {
        justify-content: center;
        order: 3; } }
    /* line 86, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-support span {
      margin: 0 5px; }
    /* line 89, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-support a {
      display: inline-block;
      vertical-align: top;
      color: #fff !important; }
    /* line 94, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-support em {
      display: inline-block;
      vertical-align: top;
      font-style: normal;
      line-height: 22px; }
    /* line 100, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-support .svg-edx {
      width: 66px;
      height: 50px; }
    /* line 104, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-support .svg-raccoon {
      width: 20px;
      height: 20px; }
  @media screen and (max-width: 991px) {
    /* line 109, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .footer-logo-holder {
      order: 2;
      margin-bottom: 10px; } }
  /* line 114, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .footer-logo-holder a {
    float: right; }
    @media screen and (max-width: 991px) {
      /* line 114, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer .footer-logo-holder a {
        float: none;
        display: inline-block; } }
  /* line 121, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .footer-logo-holder img {
    height: 50px; }
  /* line 125, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .wrapper-footer .icon-list {
    margin: 0 0 7px 10px;
    padding: 0;
    list-style: none; }
    @media screen and (max-width: 991px) {
      /* line 125, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer .icon-list {
        margin-bottom: 15px; } }
    /* line 132, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .icon-list_item {
      margin: 0 5px 0 0;
      display: inline-block; }
    /* line 136, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .icon-list_link {
      display: block;
      width: 25px;
      height: 25px; }
    /* line 141, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .wrapper-footer .icon-list_svg {
      width: 25px;
      height: 25px;
      fill: #fff; }
      /* line 145, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .wrapper-footer .icon-list_svg:hover {
        fill: #d6251d;
        opacity: 0.8; }

/* line 153, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
.smarted-footer {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left; }
  /* line 159, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer > div {
    width: 25%;
    position: relative; }
    @media screen and (max-width: 1050px) {
      /* line 159, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer > div {
        width: 33.3333%; } }
    @media screen and (max-width: 767px) {
      /* line 159, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer > div {
        width: 100%;
        text-align: center; } }
  /* line 170, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_footer-left {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    /* line 174, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_footer-left .footer-support {
      position: relative;
      bottom: -15px; }
    @media screen and (max-width: 1050px) {
      /* line 170, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_footer-left {
        order: 4;
        width: 100% !important;
        margin-top: 50px;
        display: block; } }
  /* line 185, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_logo {
    display: block;
    width: 150px; }
    @media screen and (max-width: 1050px) {
      /* line 185, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_logo {
        margin: 0 auto; } }
    /* line 191, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_logo img {
      display: block;
      width: 150px; }
  /* line 196, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    position: relative;
    margin-bottom: 22px; }
    /* line 204, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_title:before {
      content: "";
      width: 100px;
      height: 3px;
      background: #afaeae;
      position: absolute;
      left: 0;
      bottom: -10px; }
      @media screen and (max-width: 767px) {
        /* line 204, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
        .smarted-footer_title:before {
          left: 50%;
          margin-left: -50px; } }
  /* line 218, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0 0 0 10px; }
    @media screen and (max-width: 767px) {
      /* line 218, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer ul {
        text-align: center;
        margin-bottom: 30px;
        padding-left: 0; } }
    /* line 228, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer ul li {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 5px; }
      /* line 232, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer ul li a {
        color: #fff !important;
        text-decoration: none; }
        /* line 235, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
        .smarted-footer ul li a:hover {
          color: #d6251d !important; }
  /* line 241, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_phone {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 25px;
    margin-bottom: 5px;
    display: block; }
    /* line 249, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_phone em {
      font-style: normal;
      display: inline-block;
      background: url(../images/phone-icon.png) no-repeat 0 50%;
      padding-left: 30px; }
    @media screen and (max-width: 767px) {
      /* line 241, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_phone {
        margin-left: 0; } }
  /* line 259, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_email {
    display: block;
    color: #fff !important;
    text-decoration: none;
    margin: 0 0 10px 10px; }
    /* line 264, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_email:hover {
      color: #d6251d !important; }
    @media screen and (max-width: 767px) {
      /* line 259, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_email {
        margin-left: 0; } }
  /* line 271, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_telefono {
    display: block;
    color: #fff !important;
    text-decoration: none;
    margin: 0 0 10px 10px; }
    @media screen and (max-width: 767px) {
      /* line 271, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_telefono {
        margin-left: 0; } }
  /* line 280, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
  .smarted-footer_copyright {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px; }
    @media screen and (max-width: 767px) {
      /* line 280, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_copyright {
        margin-left: 0; } }
    /* line 288, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
    .smarted-footer_copyright a {
      color: #fff; }
      /* line 290, /openedx/themes/apt2025/lms/static/sass/blocks/_footer.scss */
      .smarted-footer_copyright a:focus, .smarted-footer_copyright a:hover {
        border: none !important;
        color: rgba(255, 255, 255, 0.8); }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_courses-index-page.scss */
.learn-more {
  display: block;
  border: 3px solid #fff !important;
  background: none !important;
  line-height: 45px !important;
  box-sizing: border-box; }

/* line 9, /openedx/themes/apt2025/lms/static/sass/blocks/_courses-index-page.scss */
.highlighted-courses .courses .course {
  border-bottom-color: #d6251d; }

/* line 12, /openedx/themes/apt2025/lms/static/sass/blocks/_courses-index-page.scss */
.highlighted-courses .courses .course:hover {
  background: none; }

/* line 16, /openedx/themes/apt2025/lms/static/sass/blocks/_courses-index-page.scss */
.courses-container .courses .course .cover-image:before {
  transition: all 0.2s ease; }

/* line 20, /openedx/themes/apt2025/lms/static/sass/blocks/_courses-index-page.scss */
.courses-container .courses .course .course-info .course-title {
  color: #000;
  font-size: 18px;
  margin: 5px 0;
  height: 96px;
  overflow: hidden; }

/* line 2, /openedx/themes/apt2025/lms/static/sass/blocks/_dashboard.scss */
.dashboard .main-container {
  padding: 40px 20px 40px 40px; }

/* line 5, /openedx/themes/apt2025/lms/static/sass/blocks/_dashboard.scss */
.dashboard .side-container {
  padding: 40px 0 40px 20px; }

/* line 2, /openedx/themes/apt2025/lms/static/sass/blocks/_search.scss */
.find-courses .discovery-input {
  border-radius: 40px;
  overflow: hidden; }

/* line 6, /openedx/themes/apt2025/lms/static/sass/blocks/_search.scss */
.find-courses .discovery-submit {
  border-radius: 0 40px 40px 0; }

/* line 2, /openedx/themes/apt2025/lms/static/sass/blocks/_about.scss */
.course-info header.course-profile {
  padding: 20px 0;
  height: auto; }

/* line 7, /openedx/themes/apt2025/lms/static/sass/blocks/_about.scss */
.course-info .details * {
  font-family: "Open Sans"; }

/* line 11, /openedx/themes/apt2025/lms/static/sass/blocks/_about.scss */
.course-info .intro-inner-wrapper {
  border-color: #ccc; }

/* line 15, /openedx/themes/apt2025/lms/static/sass/blocks/_about.scss */
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a {
  display: flex; }
  /* line 17, /openedx/themes/apt2025/lms/static/sass/blocks/_about.scss */
  .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a span.register {
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_course-main.scss */
.content-wrapper .course-tabs .nav-item .nav-link {
  padding: 18px 15px 15px; }

/* line 4, /openedx/themes/apt2025/lms/static/sass/blocks/_course-main.scss */
#course-container {
  max-width: 1920px;
  padding: 0 15px; }
  /* line 7, /openedx/themes/apt2025/lms/static/sass/blocks/_course-main.scss */
  #course-container .page-header {
    padding: 20px; }
  /* line 10, /openedx/themes/apt2025/lms/static/sass/blocks/_course-main.scss */
  #course-container .page-content {
    padding: 20px; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.paragon__alert-warning {
  border-bottom: 1px solid #c8c8c8; }

/* line 4, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.paragon__alert-dismissible .paragon__close {
  background: none !important;
  padding: 8px 15px; }

/* line 9, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.wiki-wrapper section.wiki .breadcrumbs-header {
  margin: 0 -15px; }

/* line 12, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.wiki-wrapper section.wiki .main-article {
  padding: 20px; }

/* line 15, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.wiki-wrapper section.wiki .article-functions {
  padding: 20px; }

/* line 24, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.article-wrapper .settings-form .page-header {
  margin-bottom: 20px;
  padding: 10px 0; }

/* line 28, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.article-wrapper .settings-form #div_id_group_read,
.article-wrapper .settings-form #div_id_group_write,
.article-wrapper .settings-form #div_id_other_read,
.article-wrapper .settings-form #div_id_other_write {
  display: flex;
  align-items: center; }
  /* line 34, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
  .article-wrapper .settings-form #div_id_group_read .controls,
  .article-wrapper .settings-form #div_id_group_write .controls,
  .article-wrapper .settings-form #div_id_other_read .controls,
  .article-wrapper .settings-form #div_id_other_write .controls {
    order: 1;
    margin-right: 10px;
    position: relative;
    top: -1px; }
  /* line 40, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
  .article-wrapper .settings-form #div_id_group_read label,
  .article-wrapper .settings-form #div_id_group_write label,
  .article-wrapper .settings-form #div_id_other_read label,
  .article-wrapper .settings-form #div_id_other_write label {
    order: 2;
    margin: 0; }

/* line 47, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.article-wrapper .settings-form #div_id_locked .controls,
.article-wrapper .settings-form #div_id_recursive .controls {
  display: flex;
  align-items: center; }
  /* line 50, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
  .article-wrapper .settings-form #div_id_locked .controls input,
  .article-wrapper .settings-form #div_id_recursive .controls input {
    margin-right: 10px; }

/* line 54, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.article-wrapper .settings-form #div_id_locked label,
.article-wrapper .settings-form #div_id_recursive label {
  display: block; }

/* line 58, /openedx/themes/apt2025/lms/static/sass/blocks/_wiki.scss */
.article-wrapper .settings-form #id_owner_username {
  width: 100%;
  margin-bottom: 10px; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
.btn-link.all-topics {
  text-transform: uppercase;
  height: 40px;
  text-decoration: none !important;
  cursor: pointer;
  padding: 0 20px; }

/* line 10, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
section.discussion .search-input {
  border-radius: 40px 0 0 40px !important;
  border-left: 3px solid #d6251d;
  border-top: 3px solid #d6251d;
  border-bottom: 3px solid #d6251d;
  border-right: none;
  box-shadow: none; }

/* line 18, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
section.discussion .search-button {
  border-radius: 0 40px 40px 0 !important; }

/* line 21, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
section.discussion .page-header {
  align-items: center;
  padding: 20px; }

@media screen and (max-width: 600px) {
  /* line 25, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
  section.discussion .page-header .page-header-secondary {
    justify-content: space-between; } }

@media screen and (max-width: 420px) {
  /* line 25, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
  section.discussion .page-header .page-header-secondary {
    display: block; } }

/* line 33, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
section.discussion .page-content {
  padding: 20px; }

/* line 38, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
#discussion-container {
  max-width: 1920px; }

/* line 42, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
.discussion-board > .page-header .has-breadcrumbs .breadcrumbs {
  margin: 0; }

@media screen and (max-width: 600px) {
  /* line 46, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
  .page-header {
    display: block; } }

/* line 53, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
.forum-nav-browse-menu {
  position: relative; }

@media screen and (max-width: 600px) {
  /* line 57, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
  .forum-search {
    margin: 0; } }

/* line 78, /openedx/themes/apt2025/lms/static/sass/blocks/_discussion.scss */
.btn {
  font-size: 15px !important;
  cursor: pointer; }

/* line 2, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
.instructor-dashboard-wrapper-2 textarea {
  display: block;
  height: 150px !important;
  width: 100% !important; }

/* line 7, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
.instructor-dashboard-wrapper-2 .instructor-nav .nav-item .btn-link:hover {
  text-decoration: none !important; }

/* line 13, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
.enrollment-wrapper table {
  width: 100%; }
  /* line 15, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .enrollment-wrapper table caption {
    padding: 10px; }
  /* line 18, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .enrollment-wrapper table th {
    text-align: left; }
  /* line 21, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .enrollment-wrapper table td {
    text-align: center; }
  /* line 24, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .enrollment-wrapper table th, .enrollment-wrapper table td {
    padding: 5px 10px;
    border: 1px solid #ccc;
    vertical-align: middle; }

/* line 32, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
.instructor-dashboard-content-2 {
  padding: 20px;
  line-height: 1.5; }
  /* line 35, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 button:not(.btn-link),
  .instructor-dashboard-content-2 .btn-blue,
  .instructor-dashboard-content-2 input[type=button] {
    margin: 10px 0; }
  /* line 40, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 p input {
    margin-top: 0 !important; }
  /* line 43, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 ul li {
    margin-bottom: 5px; }
  /* line 46, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 textarea {
    width: 100% !important;
    clear: both; }
    /* line 49, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
    .instructor-dashboard-content-2 textarea#notes, .instructor-dashboard-content-2 textarea#certificate-invalidation-notes {
      height: 100px; }
  /* line 55, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 .add-certificate-invalidation label {
    display: block;
    margin-bottom: 10px; }
  /* line 59, /openedx/themes/apt2025/lms/static/sass/blocks/_instructor.scss */
  .instructor-dashboard-content-2 .add-certificate-invalidation div {
    margin-bottom: 10px; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_progress.scss */
body.view-progress .profile-wrapper {
  max-width: 1920px; }

/* line 3, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
.sysadmin-dashboard-wrapper {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden; }
  /* line 9, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
  .sysadmin-dashboard-wrapper .instructor-nav a {
    padding: 5px 0; }
    /* line 11, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
    .sysadmin-dashboard-wrapper .instructor-nav a.active-section {
      color: #000; }
  /* line 16, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
  .sysadmin-dashboard-wrapper hr {
    width: 100%; }
  /* line 19, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
  .sysadmin-dashboard-wrapper ol {
    word-break: break-all; }

/* line 23, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
.sysadmin-dashboard-content {
  margin: 20px 0 !important; }

/* line 27, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
.list-input {
  list-style: none;
  padding: 0; }
  /* line 30, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
  .list-input li {
    padding-bottom: 15px; }
    /* line 32, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
    .list-input li input {
      width: 100% !important; }

/* line 38, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
table.stat_table {
  width: 100%;
  word-break: break-all; }

/* line 43, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
.instructor-dashboard-wrapper-2 .bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  /* line 47, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
  .instructor-dashboard-wrapper-2 .bottom-bar label {
    margin: 0; }

/* line 52, /openedx/themes/apt2025/lms/static/sass/blocks/_sysadmin.scss */
.instructor-dashboard-wrapper-2 section#membership.idash-section .member-lists-management .auth-list-container .member-list-widget input.add[type="button"],
.instructor-dashboard-wrapper-2 section#membership.idash-section .member-lists-management-ccx .auth-list-container .member-list-widget input.add[type="button"] {
  position: relative;
  margin: 0;
  right: auto; }

/* line 1, /openedx/themes/apt2025/lms/static/sass/blocks/_login-register.scss */
.login-register-content {
  background: none; }

/* line 4, /openedx/themes/apt2025/lms/static/sass/blocks/_login-register.scss */
.login-register {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box; }

/* line 11, /openedx/themes/apt2025/lms/static/sass/blocks/_login-register.scss */
.register-button,
.login-button {
  font-size: 16px !important;
  font-weight: normal !important;
  min-width: 150px;
  padding: 5px 20px !important; }

/* line 18, /openedx/themes/apt2025/lms/static/sass/custom.scss */
body {
  background: #eee !important;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden; }

/* line 25, /openedx/themes/apt2025/lms/static/sass/custom.scss */
.holder,
.wrapper-preview-menu .preview-menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box; }

/* line 34, /openedx/themes/apt2025/lms/static/sass/custom.scss */
body.view-in-course .instructor-dashboard-wrapper-2,
body.view-in-course .wiki-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box; }

/* line 43, /openedx/themes/apt2025/lms/static/sass/custom.scss */
.content-wrapper {
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background: #eeeeee; }

/* line 52, /openedx/themes/apt2025/lms/static/sass/custom.scss */
.view-profile .window-wrap,
.window-wrap {
  background: none;
  position: relative;
  box-sizing: border-box; }
  @media screen and (min-width: 1200px) {
    /* line 52, /openedx/themes/apt2025/lms/static/sass/custom.scss */
    .view-profile .window-wrap,
    .window-wrap {
      min-height: 100vh;
      padding-bottom: 270px; } }
