@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
/*
 * In pursuit of decoupling the built-in XBlocks from edx-platform's Sass build
 * and ensuring comprehensive theming support in the extracted XBlocks,
 * we need to expose Sass variables as CSS variables.
 *
 * Ticket/Issue: https://github.com/openedx/edx-platform/issues/35173
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
/* stylelint-disable-line */
/* stylelint-disable-line */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
/* line 17, common/static/sass/_builtin-block-variables.scss */
:root {
  --action-primary-active-bg: #0075b4;
  --base-font-size: 18px;
  --base-line-height: 1.5em;
  --baseline: 20px;
  --black: #000;
  --black-t2: rgba(0, 0, 0, 0.5);
  --blue: #0075b4;
  --blue-d1: #005e90;
  --blue-d2: #00466c;
  --blue-d4: #001724;
  --blue-s1: #0075b4;
  --body-color: #313131;
  --border-color: #e7e7e7;
  --bp-screen-lg: 1024px;
  --btn-brand-focus-background: #065683;
  --correct: #008100;
  --danger: #b20610;
  --darkGrey: #8891a1;
  --error-color: #cb0712;
  --error-color-dark: #95050d;
  --error-color-light: #f95861;
  --font-bold: 700;
  --font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --general-color-accent: #0075b4;
  --gray: #767676;
  --gray-300: #d9d9d9;
  --gray-d1: #5e5e5e;
  --gray-l2: #adadad;
  --gray-l3: #c8c8c8;
  --gray-l4: #e4e4e4;
  --gray-l6: #f8f8f8;
  --icon-correct: url("../images/correct-icon.png");
  --icon-incorrect: url("../images/incorrect-icon.png");
  --icon-info: url("../images/info-icon.png");
  --icon-partially-correct: url("../images/partially-correct-icon.png");
  --icon-spinner: url("../images/spinner.gif");
  --icon-unanswered: url("../images/unanswered-icon.png");
  --incorrect: #b20610;
  --lightGrey: #edf1f5;
  --lighter-base-font-color: #646464;
  --link-color: #1b6d99;
  --medium-font-size: 0.9em;
  --partially-correct: #008100;
  --primary: #0075b4;
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow-l1: rgba(0, 0, 0, 0.1);
  --sidebar-color: #f6f6f6;
  --small-font-size: 80%;
  --static-path: "..";
  --submitted: #0075b4;
  --success: #008100;
  --tmg-f2: 0.25s;
  --tmg-s2: 2s;
  --transparent: transparent;
  --uxpl-gray-background: #d9d9d9;
  --uxpl-gray-base: #414141;
  --uxpl-gray-dark: #111111;
  --very-light-text: white;
  --warning: #e2c01f;
  --warning-color: #ffc01f;
  --warning-color-accent: #fffcdd;
  --white: #fff;
  --yellow: #e2c01f; }

/* stylelint-disable-line */
/* stylelint-disable-line */
/* stylelint-disable-line */
/* stylelint-disable-line */
/* line 93, /openedx/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-edx-v3 a:not(.btn):disabled, footer#footer-edx-v3 a.is-disabled:not(.btn), footer#footer-edx-v3 a.disabled:not(.btn),
footer#footer-edx-v3 a:visited:not(.btn):disabled,
footer#footer-edx-v3 a.is-disabled:visited:not(.btn),
footer#footer-edx-v3 a.disabled:visited:not(.btn), footer#footer-edx-v3 .is-disabled {
  pointer-events: none;
  outline: none;
  cursor: default; }

/* line 126, /openedx/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-edx-v3 .sr,
footer#footer-edx-v3 .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal; }

/* line 142, /openedx/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-edx-v3 .sr,
footer#footer-edx-v3 .sr-only {
  background: #fff;
  color: #000; }

/* line 148, /openedx/edx-platform/lms/static/sass/base/_mixins.scss */
footer#footer-edx-v3 .about-links,
footer#footer-edx-v3 .legal-links,
footer#footer-edx-v3 .social-media-links,
footer#footer-edx-v3 .mobile-app-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0; }
  /* line 154, /openedx/edx-platform/lms/static/sass/base/_mixins.scss */
  footer#footer-edx-v3 .about-links li,
  footer#footer-edx-v3 .legal-links li,
  footer#footer-edx-v3 .social-media-links li,
  footer#footer-edx-v3 .mobile-app-links li, footer#footer-edx-v3 .about-links dt,
  footer#footer-edx-v3 .legal-links dt,
  footer#footer-edx-v3 .social-media-links dt,
  footer#footer-edx-v3 .mobile-app-links dt, footer#footer-edx-v3 .about-links dd,
  footer#footer-edx-v3 .legal-links dd,
  footer#footer-edx-v3 .social-media-links dd,
  footer#footer-edx-v3 .mobile-app-links dd {
    margin: 0;
    padding: 0; }

/* line 11, /openedx/edx-platform/lms/static/sass/_build-footer-edx.scss */
footer#footer-edx-v3 {
  /* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */ }
  /* line 95, /openedx/edx-platform/lms/static/sass/base/_extends.scss */
  footer#footer-edx-v3 .header-global .course-header {
    display: none; }
  /* line 131, /openedx/edx-platform/lms/static/sass/base/_extends.scss */
  footer#footer-edx-v3 .about-links,
  footer#footer-edx-v3 .legal-links,
  footer#footer-edx-v3 .social-media-links,
  footer#footer-edx-v3 .mobile-app-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0; }
    /* line 137, /openedx/edx-platform/lms/static/sass/base/_extends.scss */
    footer#footer-edx-v3 .about-links li,
    footer#footer-edx-v3 .legal-links li,
    footer#footer-edx-v3 .social-media-links li,
    footer#footer-edx-v3 .mobile-app-links li {
      margin: 0;
      padding: 0; }
  /* line 143, /openedx/edx-platform/lms/static/sass/base/_extends.scss */
  footer#footer-edx-v3 .is-deprecated {
    background: #fff6dd;
    padding: 4px 10px;
    color: #8c6a11; }
  @media print {
    /* line 160, /openedx/edx-platform/lms/static/sass/base/_extends.scss */
    footer#footer-edx-v3 .nav-skip,
    footer#footer-edx-v3 .transcript-skip, footer#footer-edx-v3 .site-nav,
    footer#footer-edx-v3 .legal-notices,
    footer#footer-edx-v3 .footer-logo,
    footer#footer-edx-v3 .external-links, footer#footer-edx-v3 footer#footer-edx-v3 {
      display: none; } }
  /* line 8, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 1em;
    background: #fff; }
  /* line 16, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 1em;
    background: #fff; }
  /* line 26, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 [tabindex="-1"] {
    outline: none; }
  /* line 30, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 h1,
  footer#footer-edx-v3 h2,
  footer#footer-edx-v3 h3,
  footer#footer-edx-v3 h4,
  footer#footer-edx-v3 h5,
  footer#footer-edx-v3 h6 {
    color: #313131;
    font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 0; }
  /* line 41, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 h1 {
    color: #313131;
    font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center; }
  /* line 48, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 h2 {
    color: #646464;
    font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased; }
  /* line 55, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 p + h2,
  footer#footer-edx-v3 ul + h2,
  footer#footer-edx-v3 ol + h2 {
    margin-top: 40px; }
  /* line 61, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 p {
    color: inherit;
    margin: 0; }
  /* line 66, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 span {
    color: inherit;
    font: inherit; }
  /* line 72, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .CodeMirror span {
    font: inherit; }
  /* line 76, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .text-center {
    text-align: center; }
  /* line 80, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .text-dark-grey {
    color: #4a4a4a;
    font-size: 24px; }
  /* line 85, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 p + p,
  footer#footer-edx-v3 ul + p,
  footer#footer-edx-v3 ol + p {
    margin-top: 20px; }
  /* line 92, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 p a:not(.btn),
  footer#footer-edx-v3 p a:visited:not(.btn) {
    color: #1b6d99;
    font: inherit;
    font-weight: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s; }
    /* line 101, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 p a:not(.btn):hover, footer#footer-edx-v3 p a:not(.btn):focus,
    footer#footer-edx-v3 p a:visited:not(.btn):hover,
    footer#footer-edx-v3 p a:visited:not(.btn):focus {
      color: #065683;
      text-decoration: underline; }
  /* line 109, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 a:not(.btn),
  footer#footer-edx-v3 a:visited:not(.btn) {
    color: #1b6d99;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s; }
    /* line 117, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 a:not(.btn):hover, footer#footer-edx-v3 a:not(.btn):focus,
    footer#footer-edx-v3 a:visited:not(.btn):hover,
    footer#footer-edx-v3 a:visited:not(.btn):focus {
      color: #065683;
      text-decoration: underline; }
    /* line 123, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 a:not(.btn):disabled, footer#footer-edx-v3 a:not(.btn).is-disabled, footer#footer-edx-v3 a:not(.btn).disabled,
    footer#footer-edx-v3 a:visited:not(.btn):disabled,
    footer#footer-edx-v3 a:visited:not(.btn).is-disabled,
    footer#footer-edx-v3 a:visited:not(.btn).disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  /* line 133, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .content-wrapper {
    margin: 20px auto 0 auto;
    max-width: 1920px;
    padding: 0 0 10px; }
    @media (min-width: 768px) {
      /* line 133, /openedx/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-edx-v3 .content-wrapper {
        padding: 0 20px 10px; } }
    @media print {
      /* line 133, /openedx/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-edx-v3 .content-wrapper {
        padding-bottom: 0; } }
  /* line 147, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .container {
    box-sizing: border-box; }
    /* line 15, /openedx/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-edx-v3 .container:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 768px) {
      /* line 147, /openedx/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-edx-v3 .container {
        margin: 0 auto;
        padding: 40px 0;
        max-width: 940px;
        min-width: 760px;
        width: 100%; } }
  /* line 161, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .no-min-scale {
    min-width: 0 !important; }
  /* line 165, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 span.edx {
    text-transform: none;
    font: inherit; }
  /* line 170, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .static-container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 60px 0 120px;
    width: 100%; }
    /* line 15, /openedx/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-edx-v3 .static-container:after {
      content: "";
      display: table;
      clear: both; }
    /* line 178, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container .inner-wrapper {
      margin: 0 auto;
      width: 82.97872%; }
    /* line 183, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container ol,
    footer#footer-edx-v3 .static-container ul {
      list-style: disc; }
      /* line 187, /openedx/edx-platform/lms/static/sass/base/_base.scss */
      footer#footer-edx-v3 .static-container ol li,
      footer#footer-edx-v3 .static-container ul li {
        color: #313131;
        font: normal 1em/1.4em Georgia, Cambria, "Times New Roman", Times, serif;
        margin: 0; }
    /* line 194, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container h1 {
      margin-bottom: 30px; }
    /* line 198, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container h1 + hr {
      margin-bottom: 60px; }
    /* line 202, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container p + h2,
    footer#footer-edx-v3 .static-container ul + h2,
    footer#footer-edx-v3 .static-container ol + h2 {
      margin-top: 40px; }
    /* line 208, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .static-container ul + p,
    footer#footer-edx-v3 .static-container ol + p {
      margin-top: 20px; }
  /* line 214, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .loading-animation {
    animation: fa-spin 2s infinite linear;
    text-align: center;
    width: 100%; }
  /* line 221, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 mark {
    padding: 0 3px;
    border-radius: 2px;
    background-color: #f7e9a8;
    color: #333; }
  /* line 228, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .ie-banner {
    display: none;
    max-width: 1920px;
    min-width: 720px;
    margin: auto;
    border-radius: 0 0 3px 3px;
    background: #f4f4e0;
    color: #3c3c3c;
    padding: 5px 20px 8px;
    font-size: 13px;
    text-align: center; }
    /* line 240, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .ie-banner strong {
      font-weight: 700; }
  /* line 253, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .is-hidden {
    display: none; }
  /* line 270, /openedx/edx-platform/lms/static/sass/base/_base.scss */
  footer#footer-edx-v3 .nav-skip,
  footer#footer-edx-v3 .transcript-skip {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -600px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #fcfcfc;
    padding: 15px 0; }
    /* line 283, /openedx/edx-platform/lms/static/sass/base/_base.scss */
    footer#footer-edx-v3 .nav-skip:focus, footer#footer-edx-v3 .nav-skip:active,
    footer#footer-edx-v3 .transcript-skip:focus,
    footer#footer-edx-v3 .transcript-skip:active {
      left: 45%;
      margin-left: -30px;
      position: absolute;
      top: 5px;
      width: 10%;
      height: auto;
      background-color: black;
      margin: 0;
      opacity: 0.8;
      color: white !important;
      text-decoration: none !important;
      outline: none;
      text-align: center; }
      @media (max-width: 991.98px) {
        /* line 283, /openedx/edx-platform/lms/static/sass/base/_base.scss */
        footer#footer-edx-v3 .nav-skip:focus, footer#footer-edx-v3 .nav-skip:active,
        footer#footer-edx-v3 .transcript-skip:focus,
        footer#footer-edx-v3 .transcript-skip:active {
          left: 40%;
          width: 20%; } }

/* line 230, /openedx/edx-platform/lms/static/sass/elements/_typography.scss */
footer#footer-edx-v3 .is-deprecated {
  font-weight: 600; }

/* line 17, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
footer#footer-edx-v3 {
  background: #fcfcfc;
  padding: 15px 0;
  border-top: 1px solid #e6e6e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 24, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .container > div {
    border: none;
    box-shadow: none;
    background: inherit; }
  /* line 30, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .column-styles {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  /* line 40, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 a.social-links {
    font-size: 35px; }
  /* line 44, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .first-div-border,
  footer#footer-edx-v3 .second-div-border,
  footer#footer-edx-v3 .third-div-border,
  footer#footer-edx-v3 .fourth-div-border {
    border-left: none; }
  /* line 51, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .main-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap; }
  /* line 59, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 * {
    box-sizing: border-box; }
  /* line 63, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  /* line 71, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .list-unstyled {
    list-style: none;
    padding-left: 0; }
  /* line 77, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .flex-column {
    flex-direction: column; }
  /* line 81, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 a.social-links.external:hover {
    text-decoration: none; }
  /* line 85, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .full-height {
    height: 100%; }
  /* line 89, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .social-app-links-div {
    float: none;
    display: table-cell;
    vertical-align: top; }
  /* line 95, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 div.container {
    min-width: 0;
    padding: 0 15px; }
  /* line 100, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 ul.clear-margins li {
    padding-bottom: 5px; }
  /* line 104, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .row.small-screen {
    display: none; }
  /* line 108, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .row.all-screens {
    display: flex; }
  /* line 112, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 h2.heading {
    font-weight: 600;
    padding: 5px 0;
    color: #646464;
    margin-left: 8px; }
  /* line 120, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 ul.clear-margins {
    list-style: outside none none;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-left: 8px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1.5; }
  /* line 131, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .footer-language-selector {
    float: right; }
  /* line 135, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .app-links {
    margin-top: 15px;
    height: auto;
    display: inline-flex; }
  /* line 141, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .app-link img {
    height: 35px; }
  /* line 145, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .social {
    margin-top: 30px;
    height: auto;
    margin-left: 5px; }
  /* line 152, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 ul.social li {
    display: inline-flex;
    margin-right: 10px; }
  /* line 158, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .edx-footer-logo {
    display: inline-flex;
    margin-left: 5px; }
    /* line 163, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .edx-footer-logo img {
      height: 42px; }
  /* line 172, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .footer-content-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; }
    /* line 15, /openedx/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-edx-v3 .footer-content-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 178, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 p {
    font-size: 14px;
    line-height: 20.72px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 185, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .copyright {
    margin-top: 30px;
    margin-left: 8px;
    font-size: 16px;
    line-height: 35.52pxpx; }
    /* line 188, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .copyright a {
      text-decoration: underline !important; }
  /* line 199, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .site-nav li,
  footer#footer-edx-v3 .legal-notices li {
    font-size: 14px;
    line-height: 20.72px;
    margin-right: 20px;
    color: #0075b4; }
    /* line 206, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .site-nav li:last-of-type,
    footer#footer-edx-v3 .legal-notices li:last-of-type {
      margin-right: 0; }
    /* line 210, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .site-nav li:hover, footer#footer-edx-v3 .site-nav li:focus,
    footer#footer-edx-v3 .legal-notices li:hover,
    footer#footer-edx-v3 .legal-notices li:focus {
      border: none; }
  /* line 217, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .footer-logo,
  footer#footer-edx-v3 .site-details,
  footer#footer-edx-v3 .external-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
    footer#footer-edx-v3 .footer-logo:last-child,
    footer#footer-edx-v3 .site-details:last-child,
    footer#footer-edx-v3 .external-links:last-child {
      margin-right: 0; }
  /* line 223, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .site-details,
  footer#footer-edx-v3 .external-links {
    margin-top: 5px; }
  /* line 228, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .footer-logo {
    margin-bottom: 30px; }
  /* line 232, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .legal-notices {
    margin: 20px 0; }
  /* line 236, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .openedx-link {
    margin: 10px 0 30px -8px;
    width: 141px; }
    /* line 241, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .openedx-link a {
      display: inline-block; }
    /* line 245, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .openedx-link img {
      width: 100%; }
  /* line 256, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .about-links .list-item,
  footer#footer-edx-v3 .legal-links .list-item,
  footer#footer-edx-v3 .social-media-links .list-item,
  footer#footer-edx-v3 .mobile-app-links .list-item {
    display: inline-block; }
  /* line 261, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .mobile-app-links {
    position: relative;
    width: 260px;
    height: 42px; }
    /* line 15, /openedx/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-edx-v3 .mobile-app-links:after {
      content: "";
      display: table;
      clear: both; }
  /* line 269, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .social-media-links {
    margin-bottom: 30px; }
    /* line 15, /openedx/edx-platform/common/static/sass/bourbon/addons/_clearfix.scss */
    footer#footer-edx-v3 .social-media-links:after {
      content: "";
      display: table;
      clear: both; }
  /* line 275, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .icon {
    font-family: 'FontAwesome';
    font-style: normal;
    color: #0075b4; }
  /* line 283, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 a.sm-link {
    float: left;
    margin: 0 6 10 0;
    font-size: 40px;
    line-height: 41.44px;
    width: 35px;
    height: 30px;
    line-height: 1;
    position: relative;
    display: inline;
    background: none;
    text-align: left; }
    /* line 298, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 a.sm-link:first-of-type {
      margin-left: 0; }
    /* line 302, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 a.sm-link:hover, footer#footer-edx-v3 a.sm-link:focus {
      opacity: 0.7;
      border: none; }
  /* line 309, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 a.social-links {
    font-size: 30px;
    line-height: 1.48px;
    position: relative;
    display: inline;
    background: none;
    text-align: left; }
    /* line 318, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 a.social-links:first-of-type {
      margin-left: 0; }
    /* line 322, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 a.social-links:hover, footer#footer-edx-v3 a.social-links:focus {
      opacity: 0.7;
      border: none; }
  /* line 329, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .app-link {
    padding: 7px; }
    /* line 330, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .app-link:first-of-type {
      left: 0; }
    /* line 334, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .app-link:last-of-type {
      right: 0; }
    /* line 338, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .app-link img {
      height: 40px;
      max-width: 200px; }
  @media print {
    /* line 354, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .site-details p {
      float: left; }
    /* line 358, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .openedx-link {
      margin: 0;
      float: right; } }
  @media (min-width: 576px) {
    /* line 17, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 {
      padding: 20px 10px; }
      /* line 368, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-1 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
      /* line 373, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2,
      footer#footer-edx-v3 .column-3 {
        flex: 0 0 50%;
        max-width: 50%; }
      /* line 379, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-1,
      footer#footer-edx-v3 .column-3-1,
      footer#footer-edx-v3 .column-3-2 {
        flex: 0 0 100%;
        max-width: 100%; }
      /* line 386, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-2 {
        flex: 0 0 80%;
        max-width: 80%;
        margin-left: 10%; }
      /* line 393, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.social {
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-top: 15px; }
      /* line 400, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .logo-div {
        margin-left: 7%;
        display: inline-flex; }
      /* line 406, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.social li {
        width: 65px;
        height: 35px;
        float: left;
        margin-left: 7px; }
      /* line 413, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 div.container {
        min-width: 0;
        padding: 0; }
      /* line 418, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .first-div-border div div {
        border-bottom: 1px solid #e6e6e6;
        margin-left: 10%; }
      /* line 424, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .second-div-border div div {
        border-bottom: 1px solid #e6e6e6;
        margin-left: 10%; }
      /* line 430, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .third-div-border div div {
        border-bottom: none;
        margin-left: 10%; }
      /* line 436, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .fourth-div-border {
        border-left: 1px solid #e6e6e6; }
      /* line 440, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .site-details {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .site-details:last-child {
          margin-right: 0; }
      /* line 444, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .external-links {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .external-links:last-child {
          margin-right: 0; }
      /* line 448, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links,
      footer#footer-edx-v3 .mobile-app-links {
        float: right; }
      /* line 453, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links {
        margin-bottom: 40px; }
      /* line 457, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.clear-margins {
        margin-top: 5px;
        border-bottom: none; }
      /* line 462, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .app-link img {
        height: 35px;
        margin-top: 10px; }
      /* line 467, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 a.social-links {
        font-size: 35px;
        margin-top: 5px;
        margin-left: 5px; }
      /* line 475, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .footer-language-selector {
        display: inline-block;
        float: none; } }
  @media (min-width: 768px) {
    /* line 17, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 {
      padding: 20px 10px; }
      /* line 482, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .ml-auto {
        margin-left: auto; }
      /* line 486, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .footer-language-selector {
        display: inline-block;
        width: max-content; }
      /* line 491, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-1 {
        flex: 0 0 25%;
        max-width: 25%; }
      /* line 496, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2 {
        flex: 0 0 75%;
        max-width: 75%; }
      /* line 501, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-2 {
        flex: 0 0 80%;
        max-width: 80%;
        margin-left: 0; }
      /* line 508, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-2,
      footer#footer-edx-v3 .column-3,
      footer#footer-edx-v3 .column-3-2 {
        flex: 0 0 100%;
        max-width: 100%; }
      /* line 515, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-1 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%; }
      /* line 520, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-3-1 {
        flex: 0 0 75%;
        max-width: 75%; }
      /* line 525, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .edx-footer-logo {
        display: inline-flex;
        margin-left: 0;
        margin-top: 5px; }
      /* line 533, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .first-div-border {
        border-left: none;
        border-bottom: none; }
      /* line 539, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .first-div-border div div {
        border-bottom: none;
        margin-left: 0; }
      /* line 545, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .second-div-border div div {
        border-bottom: none;
        margin-left: 0; }
      /* line 551, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .second-div-border {
        border-left: 1px solid #e6e6e6;
        border-bottom: none; }
      /* line 557, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .third-div-border {
        border-left: 1px solid #e6e6e6; }
      /* line 563, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .site-details {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .site-details:last-child {
          margin-right: 0; }
      /* line 567, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .external-links {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .external-links:last-child {
          margin-right: 0; }
      /* line 571, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links,
      footer#footer-edx-v3 .mobile-app-links {
        float: right; }
      /* line 576, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links {
        margin-bottom: 40px; }
      /* line 580, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.clear-margins {
        margin-top: 15px;
        border-bottom: none; }
      /* line 585, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social {
        display: inline-flex;
        vertical-align: middle; }
      /* line 590, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.social {
        margin-top: 29px; }
      /* line 594, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .app-links {
        display: inline-flex;
        margin-left: 5px;
        vertical-align: middle; }
      /* line 602, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.clear-margins li {
        font-size: 16px; }
      /* line 606, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 h2.heading {
        font-weight: 700; }
      /* line 610, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .col-md-3 .footer-language-selector {
        float: none;
        display: block;
        margin-left: 0; }
      /* line 617, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.social li {
        display: inline-flex;
        width: auto; } }
  @media (min-width: 992px) {
    /* line 17, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 {
      padding: 20px 10px; }
      /* line 626, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-1,
      footer#footer-edx-v3 .column-2-2,
      footer#footer-edx-v3 .column-3-1,
      footer#footer-edx-v3 .column-3-2 {
        flex: 0 0 100%;
        max-width: 100%; }
      /* line 634, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
      /* line 639, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-1,
      footer#footer-edx-v3 .column-3 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%; }
      /* line 645, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .column-2-2 {
        margin-left: 0; }
      /* line 649, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .edx-footer-logo {
        margin-left: 20px; }
      /* line 653, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .first-div-border {
        border-left: none; }
      /* line 657, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .second-div-border {
        border-left: 1px solid #e6e6e6; }
      /* line 661, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .third-div-border {
        border-left: 1px solid #e6e6e6; }
      /* line 665, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .fourth-div-border {
        border-left: 1px solid #e6e6e6; }
      /* line 670, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .col-xl-2 .edx-footer-logo {
        margin-left: 0;
        padding: 0 0 20px 20px; }
      /* line 675, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 div.col-xl-6 div.col-xl-4 div div {
        border-bottom: none; }
      /* line 679, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .col-xl-10 div.row div:nth-child(1) div.row:nth-child(1) {
        padding-left: 35px; }
      /* line 683, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .col-xl-2.col-md-12.col-sm-3.col-xs-10 {
        text-align: left; }
      /* line 687, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .site-details {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .site-details:last-child {
          margin-right: 0; }
      /* line 691, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .external-links {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
        footer#footer-edx-v3 .external-links:last-child {
          margin-right: 0; }
      /* line 695, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .app-links {
        margin-left: 0; }
      /* line 699, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links,
      footer#footer-edx-v3 .mobile-app-links {
        float: right; }
      /* line 704, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social-media-links {
        margin-bottom: 40px; }
      /* line 708, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.clear-margins {
        margin-top: 15px;
        border-bottom: none; }
      /* line 713, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .social {
        display: inline-flex;
        vertical-align: middle;
        margin-top: 20px; }
      /* line 719, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .app-links {
        display: inline-flex;
        vertical-align: middle; }
      /* line 724, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.clear-margins li {
        font-size: 16px;
        padding-bottom: 5px; }
      /* line 730, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 h2.heading {
        font-weight: 700;
        padding-bottom: 10px; }
      /* line 735, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 .col-xl-2 .footer-language-selector {
        display: inline-block;
        width: max-content;
        margin-left: 0; }
      /* line 741, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
      footer#footer-edx-v3 ul.social li {
        display: inline; } }
  @media (min-width: 1200px) {
    /* line 747, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .margin {
      margin-left: 0; }
    /* line 751, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .first-div-border {
      border-left: 1px solid #e6e6e6; }
    /* line 755, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .column-1 {
      flex: 0 0 16.6667%;
      max-width: 16.6667%; }
    /* line 760, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .column-2 {
      flex: 0 0 50%;
      max-width: 50%; }
    /* line 765, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .column-2-1,
    footer#footer-edx-v3 .column-3 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; }
    /* line 771, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .column-2-2 {
      margin-left: 0%; }
    /* line 775, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .column-2-2,
    footer#footer-edx-v3 .column-3-1,
    footer#footer-edx-v3 .column-3-2 {
      flex: 0 0 100%;
      max-width: 100%; }
    /* line 782, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .second-div-border {
      border-left: 1px solid #e6e6e6; }
    /* line 786, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .third-div-border {
      border-left: 1px solid #e6e6e6; }
    /* line 790, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .fourth-div-border {
      border-left: 1px solid #e6e6e6; }
    /* line 794, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .footer-logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
      footer#footer-edx-v3 .footer-logo:last-child {
        margin-right: 0; }
    /* line 798, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .app-links {
      margin-left: 0; }
    /* line 802, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .site-details {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
      footer#footer-edx-v3 .site-details:last-child {
        margin-right: 0; }
    /* line 806, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .external-links {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      /* line 41, /openedx/edx-platform/common/static/sass/neat/grid/_span-columns.scss */
      footer#footer-edx-v3 .external-links:last-child {
        margin-right: 0; }
    /* line 810, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 ul.clear-margins li {
      font-size: 16px; }
    /* line 814, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .col-xl-2 .edx-footer-logo {
      padding-left: 0; }
    /* line 818, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .social-media-links {
      margin-bottom: 50px; }
    /* line 822, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 ul.social li {
      display: inline; }
    /* line 827, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .col-xl-10 div.row div div.row {
      height: 100%; }
    /* line 831, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .clear-margins {
      border-bottom: none; }
    /* line 835, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .col-xl-10 div.row div:nth-child(1) div.row:nth-child(1) {
      padding: 0; }
    /* line 839, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .footer-language-selector {
      margin: 20px 0;
      padding: 0;
      float: none; } }
  /* line 846, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .footer-language-selector {
    margin: 10px 0; }
    /* line 849, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .footer-language-selector label[for=footer-language-select] {
      display: inline-block;
      cursor: initial; }
  /* line 855, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
  footer#footer-edx-v3 .select-lang-button {
    padding: 3px;
    color: #126f9a !important;
    height: 30px;
    margin-left: 0; }
    /* line 861, /openedx/edx-platform/lms/static/sass/shared/_footer-edx.scss */
    footer#footer-edx-v3 .select-lang-button:hover, footer#footer-edx-v3 .select-lang-button:active, footer#footer-edx-v3 .select-lang-button:focus {
      background: #126f9a !important;
      color: white !important; }
